:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --bg-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 300ms linear, color 300ms linear;
}

.btn:is(:hover, :focus) {
  background-color: #ff6c00;
  color: #ffffff;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-text::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
  /* display: inline-block;
  vertical-align: middle;
  margin-right: 20px; */
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/** -----------------------HEADER---------------------- */

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  margin-right: 130px;
}

.header-list {
  display: flex;
  gap: 30px;
}

/* .header-item {
  margin-right: 30px;
}

.header-item:last-child {
  margin-right: 0;
} */
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 300ms linear;
}

.header-link:is(:hover, :focus) {
  color: #ff6c00;
}

.header-phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 43px;
}
.header-btn {
  color: #ffffff;
}

.current {
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -52px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #ff6c00;
}

/** -----------------------HERO---------------------- */

.hero {
}

.hero-container {
  display: flex;
}

.hero-wrap {
  background-color: #7e8291;
  background-image: var(--bg-gradient), url(../images/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding: 272px 100px 208px 100px;
}

.hero-soc {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
}
.hero-list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  gap: 40px;
}

.hero-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:is(:hover, :focus) {
  color: #ff6c00;
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 20px;
  /* display: flex;
  align-items: baseline; */
}
.hero-title::before {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../images/barbers-img-1.jpeg);
  background-size: cover;
  display: inline-block;
}

.hero-title::after {
  content: '';
  color: teal;
}

.hero-title:hover::before {
  opacity: 0;
}

.hero-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
}

/** -----------------------ABOUT---------------------- */

.about-container {
  display: flex;
  gap: 30px;
}

.about-wrap {
  padding-right: 100px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-top-text {
  color: #303030;
  margin-bottom: 20px;
}
.about-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.about-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-btn {
  color: #303030;
}

/** -----------------------PRICES---------------------- */

.prices {
  background-color: #111319;
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../images/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}
.prices-list {
  width: calc((100% - 30px) / 2);
  padding: 30px 20px;
}

.prices-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.prices-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
  gap: 12px;
}

.prices-item::before {
  content: '';
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.prices-item:last-child {
  margin-bottom: 0;
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-item-text:first-child {
  order: -1;
}
.prices-btn {
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

/** -----------------------BENEFITS---------------------- */

.benefits {
}

.benefits-container {
  display: flex;
  gap: 130px;
  padding-left: 85px;
  padding-right: 115px;
}

.benefits-wrap {
  padding-top: 9px;
}
.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background-color: #f7f7f7;
  position: relative;
}

.benefits-item .count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  display: block;
  margin-bottom: 6px;
}

.benefits-item .count::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: transparent;
  vertical-align: top;
  text-shadow: 1px 9px 0 #ff6c00;
}

.benefits-item .count + p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-item-text {
}
.benefits-top-text {
  color: #303030;
  margin-bottom: 20px;
}
.benefits-title {
  color: #303030;
  margin-bottom: 20px;
}
.benefits-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/** -----------------------BARBERS---------------------- */

.barbers {
}
.barbers-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}
.barbers-item:hover .barbers-cover-text {
  transform: translate(0);
}

.barbers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.barbers-cover-text {
  position: absolute;
  top: 0;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background-color: #ff6c00;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}

.barbers-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;
  margin-bottom: 8px;
}

.barbers-item-wrap {
  padding-top: 30px;
}
.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
}

.barbers-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  /* fill: #ffffff; */
  transition: background-color 300ms linear, color 300ms linear;
}

.barbers-soc-icon {
  fill: currentColor;
}

.barbers-soc-link:hover {
  background-color: teal;
  color: violet;
}

/* .barbers-soc-link:hover {
  background-color: teal;
}

.barbers-soc-link:hover > .barbers-soc-icon {
  fill: violet;
} */

/** -----------------------GALLERY---------------------- */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 30px;
  /* row-gap: 50px;
  column-gap: 30px; */
}

.gallery-list li {
  flex-basis: calc((100% - 90px) / 4);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 26, 36, 0.432);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  width: 500px;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 300ms linear;
  padding: 20px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0) rotate(-90deg);
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  background-color: transparent;
  border-radius: 50%;
  display: block;
  margin-left: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

/*? focus-within */

/* .input-wrap:focus-within .modal-input {
  border-color: #ff6c00;
}

.input-wrap:focus-within .modal-icon {
  fill: #ff6c00;
} */

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 4px;
  outline: transparent;
  font-size: 14px;
  color: green;
  padding-left: 30px;
}

.modal-input:focus {
  border-color: #ff6c00;
}

.modal-input:focus + .modal-icon {
  fill: #ff6c00;
}

.modal-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input::placeholder {
  color: tomato;
  font-size: 12px;
}

.modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(0, 128, 0, 0.406);
}

.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(128, 45, 0, 0.406);
}

.modal-label {
  font-size: 12px;
}

.modal-label span {
  display: block;
  margin-bottom: 5px;
}

.input-text {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 5px;
}

.modal-textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 4px;
  outline: transparent;
  font-size: 14px;
  color: green;
  padding: 10px;
  resize: none;
}
