:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --bg-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/** -----------------------HEADER---------------------- */

.header {
  background-color: gray;
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  margin-right: 130px;
}

.header-list {
  display: flex;
  gap: 30px;
}

/* .header-item {
  margin-right: 30px;
}

.header-item:last-child {
  margin-right: 0;
} */
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link:is(:hover, :focus) {
  color: #ff6c00;
}

.header-phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 43px;
}
.header-btn {
  color: #ffffff;
}

/** -----------------------HERO---------------------- */

.hero {
}

.hero-container {
  display: flex;
}

.hero-wrap {
  background-color: #7e8291;
  background-image: var(--bg-gradient), url(../images/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding: 272px 100px 208px 100px;
}
.hero-list {
  width: 100px;
}

.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:is(:hover, :focus) {
  color: #ff6c00;
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.hero-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
}

/** -----------------------ABOUT---------------------- */

.about-container {
  display: flex;
  gap: 30px;
}

.about-wrap {
  padding-right: 100px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-top-text {
  color: #303030;
  margin-bottom: 20px;
}
.about-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.about-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-btn {
  color: #303030;
}

/** -----------------------PRICES---------------------- */

.prices {
  background-color: #303030;
}
.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}
.prices-list {
  border: 1px solid #ffffff;
  width: calc((100% - 30px) / 2);
  padding: 30px 20px;
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.prices-item:last-child {
  margin-bottom: 0;
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-btn {
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

/** -----------------------BENEFITS---------------------- */

.benefits {
}
.benefits-list {
}

.benefits-item .count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item .count + p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-item-text {
}
.benefits-top-text {
  color: #303030;
}
.benefits-title {
  color: #303030;
}
.benefits-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/** -----------------------BARBERS---------------------- */

.barbers {
}
.barbers-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}
.barbers-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;
  margin-bottom: 8px;
}

.barbers-item-wrap {
  padding-top: 30px;
}
.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
}

.barbers-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
}

/* .barbers-soc-icon {
  fill: currentColor;
} */

.barbers-soc-link:hover {
  background-color: teal;
  fill: violet;
}

/* .barbers-soc-link:hover {
  background-color: teal;
}

.barbers-soc-link:hover > .barbers-soc-icon {
  fill: violet;
} */

/** -----------------------GALLERY---------------------- */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 30px;
  /* row-gap: 50px;
  column-gap: 30px; */
}

.gallery-list li {
  flex-basis: calc((100% - 90px) / 4);
}
